<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro - Site de Receitas</title>
 
</head>
<body>

<header class="header-bg fixed-top">
  <div class="header-background">
    <img src="imagemfundo.jpg" alt="Imagem de fundo" />
  </div>

  <div class="header">
    <div class="logo">Sites de Receitas</div>
    <nav class="header-menu" aria-label="primaria">
      <a href="/login">login</a>
      <a href="/cadastro">cadastro</a>
      <a href="/mais-sobre">mais sobre</a>
      <a href="/home">home</a>
    </nav>
  </div>
</header>

<main style="margin-top: 120px; padding: 20px;"> <!-- espaçamento por causa do header fixo -->
    <h2>Cadastro de Usuário</h2>
    <form (ngSubmit)="cadastrarUsuario()" #cadastroForm="ngForm">
      <input type="text" name="nome_completo" [(ngModel)]="usuario.nome_completo" placeholder="Nome completo" required />
      <input type="text" name="nome_usuario" [(ngModel)]="usuario.nome_usuario" placeholder="Nome de usuário" required />
      <input type="email" name="email" [(ngModel)]="usuario.email" placeholder="Email" required />
      <input type="password" name="senha" [(ngModel)]="usuario.senha" placeholder="Senha" required />
      <button type="submit">Cadastrar</button>
    </form>
    <p *ngIf="mensagem">{{ mensagem }}</p>
  </main>

<body>
  <html>