<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro - Site de Receitas</title>
 
</head>
<body>

<header class="header-bg fixed-top">
  <div class="header">
    <div class="logo">NutriMundo</div>
    <nav class="header-menu" aria-label="primaria">
      <a href="/login">Login</a>
      <a href="/home">Home</a>
    </nav>
  </div>
</header>

<main class="cadastro-main">
  <div class="form-container">
    <h2>Cadastro de Usuário</h2>
    <form (ngSubmit)="cadastrarUsuario()" #cadastroForm="ngForm">
      <input type="text" name="nome_completo" [(ngModel)]="usuario.nome_completo" placeholder="Nome completo" required />
      <input type="text" name="nome_usuario" [(ngModel)]="usuario.nome_usuario" placeholder="Nome de usuário" required />
      <input type="email" name="email" [(ngModel)]="usuario.email" placeholder="Email" required />
      <input type="password" name="senha" [(ngModel)]="usuario.senha" placeholder="Senha" required />
      <button type="submit">Cadastrar</button>
    </form>
    <p *ngIf="mensagem">{{ mensagem }}</p>
  </div>
</main>

<body>
  <html>