<header class="header">
  <h1>NutriMundo</h1>
  <div class="header-actions">
    <button class="btn-voltar" (click)="voltar()">← Voltar</button>
    <button class="sair-btn" (click)="sair()">Sair</button>
  </div>
</header>

<div class="container">
  <div class="card">
    <h2>Alterar Senha</h2>
    <form (ngSubmit)="alterarSenha()">
      <label>Nova Senha:</label>
      <input type="password" [(ngModel)]="novaSenha" name="novaSenha" required />

      <label>Confirmar Nova Senha:</label>
      <input type="password" [(ngModel)]="confirmarSenha" name="confirmarSenha" required />

      <button type="submit">Alterar Senha</button>
    </form>
    

    <hr />

    <h2>Excluir Conta</h2>
    <form (ngSubmit)="excluirConta()">
      <label>Digite seu nome de usuário para confirmar:</label>
      <input type="text" [(ngModel)]="confirmacaoUsuario" name="confirmacaoUsuario" required />

      <button type="submit" class="danger">Excluir minha conta</button>
    </form>
  </div>
  
</div>

<footer class="footer">
  <p>&copy; 2025 Receitas Saudáveis. Todos os direitos reservados.</p>
</footer>
