<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="fazerLogin()" [formGroup]="formLogin">
    <div>
      <label for="nome_usuario">Usuário:</label>
      <input id="nome_usuario" formControlName="nome_usuario" />
    </div>

    <div>
      <label for="senha">Senha:</label>
      <input id="senha" type="password" formControlName="senha" />
    </div>

    <button type="submit" [disabled]="formLogin.invalid">Entrar</button>

    <p *ngIf="erroLogin" class="erro">{{ erroLogin }}</p>
  </form>
</div>
