<body>
  <header class="header-bg">
    <div class="header">
      <!-- Título do site -->
      <div class="logo">
        Sites de Receitas
      </div>

      <!-- Menu de navegação -->
      <nav class="header-menu" aria-label="primaria">
        <a href="/login">login</a>
        <a href="/cadastro">cadastro</a>
        <a href="/mais-sobre">mais sobre</a>
      </nav>
    </div>
  </header>

  <main class="introducao-bg">
    <div class="introducao">
      <h1>Receitas saudáveis..</h1>
      <p>Site de receitas saudáveis para uma alimentação e qualidade de vida melhor para você</p>
      <a routerLink="/maisobre"></a>
      <!-- Imagem -->
     
    </div>

    <!-- Carrossel do Bootstrap -->
    <div id="carouselExample" class="carousel slide mt-4" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="imagem1.jpg" class="d-block w-100" alt="Receita 1">
          <div class="carousel-caption d-none d-md-block">
            <h5>Receita 1</h5>
            <p>Descrição da Receita 1</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="imagem2.jpg" class="d-block w-100" alt="Receita 2">
          <div class="carousel-caption d-none d-md-block">
            <h5>Receita 2</h5>
            <p>Descrição da Receita 2</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="imagem3.jpg" class="d-block w-100" alt="Receita 3">
          <div class="carousel-caption d-none d-md-block">
            <h5>Receita 3</h5>
            <p>Descrição da Receita 3</p>
          </div>
        </div>
      </div>

      <!-- Controles do Carrossel -->
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
      </button>
    </div>
  </main>
  <p>
  
</p>

</body>
